.about-container {
    max-width: 1100px;
    margin: 50px auto;
    padding: 20px;
}

.about-intro h1 {
    font-size: 2.5rem;
    margin-bottom: 15px;
    text-align: center;
}

.about-intro p {
    font-size: 1.1rem;
    line-height: 1.7;
   /*  max-width: 800px; */
}

.team-section {
    margin-top: 60px;
}

.team-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax (260px, 1fr));
    gap: 30px;
}

.team-member {
    background: #fff;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.88);
    text-align: center;
    transition: transform 0.2s ease;
}

.team-member:hover {
    transform: translateY(-5px);
}