@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css');
@import url('https://fonts.googleapis.com/css2?family=Marko+One&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #FCFCFC;
    color: #1A1A1A;
    line-height: 1.6;
    font-family: "Marko One", serif;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: auto;
    padding: 20px;
    background-color: #CB0F33;
    color: #fff;
    font-size: 20px;
}

.logo img {
    height: 100px;
    width: auto;
    display: block;
    padding-left: 50px;
}

.nav ul {
    display: flex;
    gap: 20px;
    list-style: none;
    padding-right: 50px;
}

.nav a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

.footer {
    text-align: center;
    padding: 20px;
    background-color: #CB0F33;
    color: #fff;
}

.footer .social-icons {
    margin-top: 10px;
}

.footer .social-icons a {
    color: #fff;
    margin: 0 10px;
    font-size: 26px;
    text-decoration: none;
}

.footer .social-icons a:hover, .page-btn:hover {
    color: #E0E0E0;
}

.hero {
    height: 85vh;
    background: url('../img/Hero.jpg') center/cover no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
    padding: 0 20px;
}

.hero::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.55);
}

.hero-content {
    position: relative;
    z-index: 2;
    color: #fff;
    padding: 20px;
    max-width: 700px;
}

.hero h1 {
    font-size: 3rem;
    margin-bottom: 10px;
}

.hero p {
    font-size: 1.3rem;
    margin-bottom: 25px;
}

.cta {
    padding: 12px 25px;
    background: #fff;
    color: #000;
    font-weight: bold;
    border-radius: 5px;
    text-decoration: none;
    transition: 0.3s;
}

.cta:hover {
    background: #E0E0E0;
}

.active-page {
    border: 2px solid #fff;
    border-radius: 35px;
    padding: 8px 12px;
}
