* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #FCFCFC;
    color: #1A1A1A;
    line-height: 1.6;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: auto;
    padding: 20px;
    background-color: #CB0F33;
    color: #fff;
    font-size: 20px;
}

.logo img {
    height: 100px;
    width: auto;
    display: block;
    padding-left: 50px;
}



.nav ul {
    display: flex;
    gap: 20px;
    list-style: none;
    padding-right: 50px;
}

.nav a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}