@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css');
@import url('https://fonts.googleapis.com/css2?family=Marko+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;700&family=Inter:wght@400;600&display=swap');

:root {
    --text-color1: #fff;
    --text-color2: #000;
    --accent-color: #1E1E24;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #FCFCFC;
    color: var(--text-color2);
    line-height: 1.6;
    font-family: "Cinzel", serif;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: auto;
    padding: 20px;
    background-color: var(--accent-color);
    color: var(--text-color1);
    font-size: 20px;
}

.logo img {
    height: 100px;
    width: auto;
    display: block;
    padding-left: 50px;
}

.nav ul {
    display: flex;
    gap: 20px;
    list-style: none;
    padding-right: 50px;
}

.nav a {
    color: var(--text-color1);
    text-decoration: none;
    font-weight: bold;
}

.footer {
    text-align: center;
    padding: 20px;
    background-color: var(--accent-color);
    color: #fff;
}

.footer img {
    width: 100px;
    height: auto;

}

.footer .social-icons {
    margin-top: 10px;
}

.footer .social-icons a {
    color: var(--text-color1);
    margin: 0 10px;
    font-size: 26px;
    text-decoration: none;
}

.footer .social-icons a:hover, .page-button:hover {
    color: #E0E0E0;
    transition: 0.3s;
}

.hero-image {
    height: 85vh;
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(../img/Hero.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.hero-content {
    color: var(--text-color1);
    max-width: 750px;
    position: relative;
    top: -70px;
}

.hero-content a {
    position: relative;
    top: 30px;
    padding: 12px 25px;
    background: #fff;
    color: var(--text-color2);
    font-weight: bold;
    border-radius: 5px;
    text-decoration: none;
    transition: 0.3s;
}

.hero-content a:hover {
    background: #E0E0E0;
}

.active-page {
    border: 2px solid #fff;
    border-radius: 35px;
    padding: 8px 12px;
}
